<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{quoteObj.user_who_uploaded.firstName}}'s Quotes</h1>
    <p>{{quoteObj.author}}: {{quoteObj.description}}</p>
    <button><a href="/quotes">Go Back</a></button>
    
    
  
    <ul>
    {% for user in quoteObj.users_who_like.all %}
        <li>{{user.firstName}}</li>
    {% endfor %}
    </ul>
    {% if loggedinuser == quoteObj.user_who_uploaded %}
    
    {% endif %}
</body>
</html>